// --------------------------- MOBILE ------------------------------ //
.third-header{
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--third-color);

&--footer{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    }

&--form{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    }
}




/*
.third-header{
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--third-color);

    &--footer{
    padding-bottom: 20px;
    }

    &--form{
    margin-left: 78px;
    padding-top: 12px;
    padding-bottom: 20px;
    }
}
*/