.section{
padding: 94px 0;
width: 100%;
margin-left: auto;
margin-right: auto;

    &--hero-up{
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
     url("../images/hero/hero-bg-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0;
    padding-bottom: 0;
    }

    &--hero-down{
    padding-bottom: 0;
}

    &--about{
    position:relative;
    }

    &--employees-color{
    background-color: var(--employees-bg-color);
    }

    &--footer{
    background-color:var(--footer-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
    }
}