.logo{
font-family: var(--secondary-font);
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
text-decoration: none;
color:var(--secondary-color);

    &--space{
    margin-right: 94px;
    }

    &--dark{
    color:var(--main-color);
    }

    &--light{
    color:var(--third-color);
}
}



